@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.DEBUG {
    background: orangered;
    border: orangered;
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.menubar {
    background: orange;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0 20px 0;
    height: 50px;
}

.menuBarItem {
    height: 100%;
    margin: 0 5px 0 5px;
}

.menuBarItem input {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    width: 120px;
    padding: 6px 10px;
    margin: 2px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.menubar button{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    font-size: 20px;
    border-width: 0;
    background: none;
}

.menubar button:hover {
    cursor: pointer;
    background: #B37400;
}

#menuLogo {
    float: left;
    position: relative;
    top: -7px;
    height: 130%;
}

#menuFrontpageButton {
    font-size: 32px;
    font-style: oblique;
    float: left;
}

#menuLoginForm {
    float: right;
    margin-right: 0;
}

#menuLoginButton {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 15px 0 15px;
}

#menuRegisterButton {
    float: right;
}

#menuMyPageButton {
}

#menuLogoutButton {
    float: right;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 15px 0 15px;
}
