@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.DEBUG {
    background: orangered;
    border: orangered;
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
}

body, input, button {
    font-family: 'Raleway', sans-serif;
}

h4, h3, h2 {
    margin: 0;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.inContentButton {
    background: orange;
    border: none;
    width: 65px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.contentWrapper {
    width: 70%;
    height: calc(100vh - 80px - 37px);
    margin: 120px auto 0 auto;
}

.notification {
    font-size: 20px;
    color: yellowgreen;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 10px;
}

.error {
    font-size: 20px;
    color: orangered;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
    padding: 5px;
}

.expandIcon {
    display: none;
}

.collapseIcon {
    display: none;
}

/********* ANECDOTE ********/

.anecdote {
    margin: 0 auto 0 auto;
    text-align: center;
}

blockquote {
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: center;
    /*background: #EDF4FA;*/
    font-size: xx-large;
    padding: 5px;
    border-radius: 4px;
}

.anecdoteBy {
    font-size: small;
}

.anecdote h1 {
    width: 50%;
    margin: 0 auto 0 auto;
    padding-top: 70px;
    text-align: center;
    font-style: italic;
}
/********* ANECDOTE ends ********/

@media only screen and (max-width: 600px) {
    .barListItem h4{
        background-image: url('../media/expand.png');
        /*background-repeat: no-repeat;*/
    }

    blockquote {
        width: 80%;
        font-size: large;
    }

    .expandIcon {
        display: block;
        height: 10px;
        width: 10px;
        float: right;
        padding: 5px;

    }

    .collapseIcon {
        display: block;
        height: 10px;
        width: 10px;
        float: right;
        padding: 5px;
    }
}