@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.DEBUG {
    background: orangered;
    border: orangered;
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
}

body {
    font-family: 'Raleway', sans-serif;
    min-width: fit-content;
}

.contentWrapper {
    width: 70%;
    margin: 0 auto 0 auto;
}

.notification {
    font-size: 20px;
    color: yellowgreen;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 10px;
}

.error {
    font-size: 20px;
    color: orangered;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 10px;
}