ul {
    list-style-image: url('../media/beer2.svg');
}

button {
    margin-left: 5px;
}

h4, h3 {
    margin: 0;
}

h3:hover {
    background: #C7E2FF;
}

h4:hover {
    background: #C7E2FF;
}

.anecdote h1 {
    width: 50%;
    margin: 20% auto 0 auto;
    text-align: center;
    font-style: italic;
}

.filterInputWrapper {
    width: 100%;
    margin: 5% auto 20px auto;
}

.filterInput {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: larger;
    display: inline-block;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.radioButtonWrapper {
    min-width: 220px;
    width: 50%;
    margin: 0 auto;
}

.listViewRadioButtons {
    display: inline-block;

    width: 100%;
    margin: 0 auto 20px auto;
}

.listViewRadioButton {

    cursor: pointer;
    margin: 0 auto;
    width: 50%;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-width: 0;


    background: #EDF4FA;
}

/*.listViewRadioButton:hover {
    background: #C7E2FF;
}*/

#listViewRadioButtonLeft {
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#listViewRadioButtonRight {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.barsWrapper {
    margin: 0 auto 0 auto;
}

.clickable {
    cursor: pointer;
}

.barListItem {
    background: #EDF4FA;
    height: 20px;
    border-radius: 5px;
    margin: 0 0 5px 0;
    width: 100%;
}

.extraInfo {
    border: solid #C7E2FF;
    border-radius: 5px;
    margin: 0 0 5px 0;
    width: calc(100% - 6px);
}


.infoText {
    background: orange;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

.foto{
    width: 100%;
}



