@media (min-width: 910px) {
}

@media (max-width: 910px) {
}

.menubar {
    padding: 10px 0 10px 90px;
    background: orange;
    border-radius: 5px;
    min-height: 60px;
    width: calc(100% - 90px);
    margin: 10px 0 20px 0;
}

#menuLogo {
    position: absolute;
    top: 4px;
    left: 10px;
    height: 95px;
}

#menuLogo:hover{
    cursor:pointer;
}

.menuContentWrapper {
    min-height: 60px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menuFlexLeft {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuFlexRight {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menubar button {
    font-size: 20px;
    border-width: 0;
    background: none;
}

#menuFrontpageButton {

    font-size: 32px;
    font-style: oblique;
    float: left;
}

#menuMyPageButton {
    min-width: 100px;
}

#menuRegisterButton {
    min-width: 100px;
}


/* login form styles */
#menuLoginForm {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

#menuLoginForm input {
    font-size: larger;
    height: 40px;
    width: 120px;
    margin: 0 5px;
    padding-left: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#menuLoginButton {
    padding: 6px 15px 6px 2px;
}

#menuLogoutButton {
    padding: 6px 15px 6px 2px;
}
